<h2>This is your pirate's info</h2>
<ul>
    <li><%= @pirate.name %></li>
    <li><%= @pirate.height %></li>
    <li><%= @pirate.weight %></li>
</ul>


<h2>Your first ship:</h2>
<ul>
    <li><%= @pirate[ships][].name %></li>
    <li><%= @pirate.height %></li>
    <li><%= @pirate.weight %></li>
</ul>


<h2>Display your second ship here</h2>
